@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$family-serif: Inconsolata, Consolas, monospace;
$link: hsl(204, 86%, 53%);

@import "~bulma/bulma";

$font-stack: 1.0rem Inconsolata;

@mixin margin($margin) {
    margin: $margin;
}

@mixin height($height) {
    height: $height;
}

@mixin full-height {
    @include height(100%);
}
